@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap');

//Gama de colores
$colorPrimario: #2196f3;
$colorSecundario: #ffffff;
$colorTerciario: #d3eafc;
$colorCuerternario: #0b2d48;

//Estilos y secciones generales en todo el proyecto
*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    color: $colorCuerternario;
}


body {
    display: grid;
    grid-template-areas:    "nav"
                            "main"
                            "footer";
    grid-template-rows: 15vh auto 40vh;
    min-height: 100vh;
    h1,h2,h3,h4,h5,h6{
        font-size: 2rem;
        color: $colorPrimario;
    }
    //La modificacion del scrollbar no funciona en firefox
    &::-webkit-scrollbar {
        width: 1rem;               /* width of the entire scrollbar */
    }
    
    &::-webkit-scrollbar-track {
        background: $colorSecundario;        /* color of the tracking area */
    }
    
    &::-webkit-scrollbar-thumb {
        background-color: $colorPrimario;    /* color of the scroll thumb */
        border-radius: 20px;       /* roundness of the scroll thumb */
        border: 3px solid $colorSecundario;  /* creates padding around scroll thumb */
    }

}
header {
    grid-area: "nav";
}
main {
    grid-area: "main";
}
footer {
    grid-area: "footer";
    background-color: $colorTerciario;
}